/* Add custom CSS styles for your page layout here */

/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(145, 145, 145);
    min-width: 500px;
    min-height: 500px;
}

/* Body containing the graphs */
.body-graphs {
    margin-top: 20vh;
}
.row-bar {
    height: 80vh;
    max-height: 1000px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 3vw;
}
/* Container for the bar graph */
.container-graph-bar {

    /* Dimensions */
    width: 65vw;
    min-width: 500px;
    height: 70vh;
    min-height: 600px;  
    margin-left: 3vw;
    margin-right: 25vw;

    /* Border */
    padding: 20px;
    border: 1px solid #000000;
    background-color: #ebd3aa;
    border-radius: 3px;
}

hr.below-text-list {
    border: 1px solid black;
    margin: 1px;
}

/* Container for the dropdown label and the dropdowns */
.dropdown-row {
    width: 100%;
    height: 45px;
    text-align: center;
    padding-top: 20px;
}
/* Add CSS styles for your visualizations here */
/* Visualization 1 */
#bar-chart {
    width: 200px;
    height: 700px;
}

/* Visualization 2 */
/* #graph-2 {
    width: 70vw; 
    height: 70vh;
    margin: 50px;
    border: 1px solid #ccc;
    background-color: rgba(255, 199, 115, 0.705);
    text-align: center;
} */

/* Visualization 3 */
#visualization-3 {
    /* Add styles for the third visualization */
}

/* Dropdown label */
.dropdown-list-label {
    padding: 5px;
}

/* Dropdowns */
.dropdown {
    margin-right: 20px;
}

/* Header */
.header-row {

    /* Dimensions */
    top: 0px;
    width: 100vw;
    height: 13vh;
    min-height: 140px;
    position: fixed;

    /* Background */
    background-color: #ebd3aa;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    
}

/* Header text */
.text-head {
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: dimgrey;
    text-decoration-line: inherit;
    font-family: Baskerville;
}

.text-list {
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: dimgrey;
    text-decoration-line: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------- */
/* ------------------ Container for the top 10 lists ------------------*/
/* ------------------------------------------------------------------- */

.top-10-background {
    position: fixed;
    /* Dimensions */
    width: 19vw;
    min-width: 25px;
    height: 70vh;
    min-height: 600px;
    background-color: #ebd3aa;
    margin-right: 40px;
    margin-left: 75vw;

    /* Border */
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    display: inline-block;
}

/* Style for the list elements */
.top-10-list-element {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

/*  */
.top-10-list-container {
    margin-top: 10px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.top-10-list-header {
    margin-top: 0px;
    font-size: 20px;
}

.top-10-overall-header {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-10-grid {
    width: 85%;
    min-width: 12px;
    padding: 10px;
}
